.add-blogs {
    width: 75vw;
    padding: 12px;
    margin: 45px auto;
    border: 1px solid rgb(229, 227, 227);
}

.add-blogs h2 {
    font-size: 30px;
    color: rgb(0, 60, 117);
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(0, 60, 117);
}

.add-blogs .gallery-images {
    padding: 10px;
}

.add-blogs .gallery-images .gallery-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.add-blogs .gallery-images .gallery-images-container div {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 220px;
}

.add-blogs .gallery-images .gallery-images-container div img {
    height: 100%;
}