.single-blog {
    width: 70vw;
    margin: 102px auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
}

.single-blog .blog .gallery-images {
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
}

.single-blog .blog .gallery-images img {
    transition: all ease-in-out 0.2s;
    height: 310px;
    cursor: pointer;
}

.single-blog .blog .gallery-images img:hover {
    transform: translateY(-3px);
}